alias l=ls
alias ll='ls -l'
alias p=pwd
alias vi='vim'

alias brt='xrandr --output DVI-I-1 --brightness'
alias jli='jslint'
alias ocb='ocamlbuild'
alias png='ping 8.8.8.8'
alias sus='sudo systemctl suspend'
